.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.profile__inner {
  max-width: 410px;
  min-height: 482px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--gray-text);
  margin: 0 0 109px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.profile__form-fields {
  border: none;
  padding: 0;
  margin: 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.profile__button {
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  color: var(--gray-text);
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__button:hover {
  opacity: .7;
}

.profile__button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.profile__button_type_danger {
  color: var(--red);
  font-weight: 500;
}

.profile__message {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.profile__message_type_error {
  color: var(--red);
}

@media screen and (max-width: 800px) {
  .profile__heading {
    margin-bottom: 82px;
  }

  .profile__inner {
    min-height: 445px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    align-items: stretch;
  }

  .profile__inner {
    margin: 70px 30px 40px;
  }

  .profile__heading {
    margin-bottom: 64px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

}