.header {
  padding: 0 70px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 74px;
}

.header_type_landing {
  background-color: var(--dark-blue);
}

.header_hidden {
  display: none;
}

.header_type_main {
  background-color: var(--black);
}

.header__auth-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__auth-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  transition: opacity 0.5s linear;
}

.header__auth-link:hover {
  opacity: 0.6;
}

.header__auth-link_contained {
  padding: 8px 20px;
  color: black;
  background-color: var(--green);
  border-radius: 3px;
}

.header__navigation-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__films-links {
  display: flex;
  gap: 20px;
}

.header__profile-button {
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  background: #313131;
  border-radius: 6px;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.header__link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  display: flex;
  align-items: center;
  transition: opacity 0.5s linear;
}

.header__link:hover {
  opacity: 0.6;
}