.footer {
  padding: 79px 70px 20px;
  background-color: var(--black);
}

.footer__text {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: var(--gray-text);
  border-bottom: 1px solid #424242;
}

.footer__wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links-list {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer_hidden {
  display: none;
}