@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

.content-wrapper {
  padding: 0 70px;
  max-width: 1140px;
  margin: 0 auto;
}

:root {
  --dark-blue: #073042;
  --green: #3DDC84;
  --black: #202020;
  --gray: #272727;
  --gray-light: #303030;
  --gray-text: #8B8B8B;
  --gray-input: #2F2F2F;
  --gray-border: #424242;
  --red: #EE3465;
  --blue: #4285F4;

  --font-family: 'Inter', sans-serif;
}

@media (max-width: 1023px){
  .content-wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 767px){
  .content-wrapper {
    padding: 0 10px;
  }
}